@use "@angular/material" as mat;

@import "./styles.colors.scss";

@include mat.core();

$client-primary-light: mat.define-palette($custom-color-light);
$client-accent-light: mat.define-palette(
  $custom-color-accent-light,
  A200,
  A100,
  A400
);

$client-primary-dark: mat.define-palette($custom-color-dark);
$client-accent-dark: mat.define-palette(
  $custom-color-accent-dark,
  A200,
  A100,
  A400
);

$client-warn: mat.define-palette(mat.$red-palette);

$client-theme-light: mat.define-light-theme(
  (
    color: (
      primary: $client-primary-light,
      accent: $client-accent-light,
      warn: $client-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

$client-theme-dark: mat.define-dark-theme(
  (
    color: (
      primary: $client-primary-light,
      accent: $client-accent-light,
      warn: $client-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($client-theme-light);

.dark {
  @include mat.all-component-themes($client-theme-dark);

  body.dark {
    background-color: black;
  }
}

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles.body.scss";
@import "./styles.header.scss";

@layer components {
  body {
    @apply h-full font-consolas;
  }
}
